tml {
  font-family: Helvetica, sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.no-dot {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar-nav {
    list-style: none;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    font-family: charterregular, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.mainheading h1.sitetitle,
.lead {
    font-family: serif;
}

.fixed-top {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

.navbar {
  position: sticky !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.mediumnavigation {
  background: rgba(255, 255, 255, .97);
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  transition: top 0.2s ease-in-out;

}

header a,
header h1,
header h2,
header h3 {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

a {
  background-color: transparent;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-right {
  display: flex;
  margin-left: auto;
  vertical-align: baseline;
}

.pagination li,
header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.subtitle {
  margin-left: 5px;
}

.main,
header,
footer {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.card {
  border: 1px solid rgba(0,0,0,.125);
  margin: 5px;
  width: 300px;
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
  height: auto;

}

.maxthumb {
  max-height: 300px;
  overflow: hidden;
}


.card h3,
.card p {
  margin-block-end: 5px;
  margin-block-start: 5px;
}

.card-box {
  width: 100%;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.25;
}

.text-dark {
  color: #121416 !important;
}

.card-text {
  color: rgba(0, 0, 0, .67);
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 400;
}

.card-date,
.svgIcon-use {
  text-align: right;
}

.pad-l-5px {
  padding-left: 5px;
}

.pad-r-5px {
  padding-right: 5px;
}

/* toc */

.toc-box {
  border: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}

navbar {
  display: none;
}

navbar li {
  list-style-type: none;
}

navbar ul {
  margin-left: 0px;
  padding-left: 0;
}

navbar ul ul {
  margin-left: 0px;
  padding-left: 15px;
}
